<a href="https://colab.research.google.com/github/MohammadNPak/MFTDjango04/blob/master/ExteraHWQ1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
!unzip /content/drive/MyDrive/NNDL/HWExtera/Q1/archive_card.zip -d ./dataset

Archive:  /content/drive/MyDrive/NNDL/HWExtera/Q1/archive_card.zip
  inflating: ./dataset/creditcard.csv

In [88]:
import tensorflow as tf
from tensorflow import keras 
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

data_csv = pd.read_csv('/content/dataset/creditcard.csv')
data_csv.info()
data_csv.drop(columns=['Time'],inplace=True)
Y=data_csv['Class']
X=data_csv.drop(columns=['Class'])
X_train,X_test,y_train,y_test = train_test_split(X,Y.to_numpy().reshape((-1,1)),train_size=0.8,random_state=0)
standard_scaler=StandardScaler().fit(X_train['Amount'].to_numpy().reshape((-1,1)))

standard_scaler=StandardScaler().fit(X_train['Amount'].to_numpy().reshape((-1,1)))
X_train['Amount_normal'] = standard_scaler.transform(X_train['Amount'].to_numpy().reshape((-1,1))).reshape((-1,))
X_train.drop(columns=['Amount'],inplace=True)
print(X_train.mean())
print(X_train.var())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB
V1               2.930102e-03
V2              -8.770873e-04
V3              -1.470194e-03
V4               1.131120e-03
V5              -1.714407e-03
V6              -1.034694e-03
V7              -4.110980e-04
V8              -1.359943e-03
V9              -1.842561e-05
V10              1.496398e-03
V11             -7.316551e-04
V12             -9.895529e-04
V13              8.159044e-04
V14              9.918070e-04
V15              6.078473e-04
V16             -1.308460e-04
V17              6.572134e-04
V18             -7.350219e-04
V19              3.116051e-04
V20              1.775156e-03
V21              2.661591e-04
V22              3.002196e-04
V23             -2.758811e-04
V24              6.874714e-04
V25              1.916558e-04
V26             -5.841437e-04
V27             -5.737755e-04
V28             -1.351573e-04
Amount_normal   -5.338933e-17
dtype: float64
V1               3.823060
V2               2.721418
V3               2.295392
V4               2.006077
V5               1.865852
V6               1.759347
V7               1.501401
V8               1.453250
V9               1.209937
V10              1.190480
V11              1.039764
V12              0.995747
V13              0.994644
V14              0.914763
V15              0.837816
V16              0.767089
V17              0.722768
V18              0.701739
V19              0.664330
V20              0.585038
V21              0.544043
V22              0.528100
V23              0.388221
V24              0.366349
V25              0.271269
V26              0.232269
V27              0.161117
V28              0.102880
Amount_normal    1.000004
dtype: float64

In [65]:
!pip install -U imbalanced-learn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.8/dist-packages (0.8.1)
Collecting imbalanced-learn
  Downloading imbalanced_learn-0.10.0-py3-none-any.whl (225 kB)
     |████████████████████████████████| 225 kB 4.7 MB/s
Requirement already satisfied: scikit-learn>=1.0.2 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn) (1.0.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn) (1.21.6)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn) (1.2.0)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn) (1.7.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn) (3.1.0)
Installing collected packages: imbalanced-learn
  Attempting uninstall: imbalanced-learn
    Found existing installation: imbalanced-learn 0.8.1
    Uninstalling imbalanced-learn-0.8.1:
      Successfully uninstalled imbalanced-learn-0.8.1
Successfully installed imbalanced-learn-0.10.0

In [99]:
from imblearn.over_sampling import SMOTE
sm = SMOTE()
X_train.isna().sum()

X_res, y_res = sm.fit_resample(X_train, y_train)

print(X_res.shape)
print(X_train.shape)
X_res.groupby(by=y_res).var()
X_res.groupby(by=y_res).mean()

(454908, 29)
(227845, 29)

         V1        V2        V3  ...       V27       V28  Amount_normal
0  0.011422 -0.007255  0.010792  ... -0.000713 -0.000306      -0.000256
1 -4.816106  3.747439 -7.069022  ...  0.086996  0.111183       0.085740

[2 rows x 29 columns]

In [ ]:
from tensorflow.keras.layers import Dense
from tensorflow.keras import metrics
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.losses import MeanSquaredError
from tensorflow.keras.models import Sequential

noise = np.random.normal(0,0.1,X_res.size).reshape(X_res.shape)
X_noise = X_res+noise

model = Sequential([
    Dense(29),
    Dense(22),
    Dense(15),
    Dense(10),
    Dense(15),
    Dense(22),
    Dense(29)]
)


model.compile(
    optimizer=Adam(),
    loss=MeanSquaredError(),
    metrics=[metrics.MeanSquaredError()]
)

report = model.fit(x=X_noise,
          y=X_res,
          batch_size=32,
          epochs=50,
          validation_split=0.1)

Epoch 1/50
12795/12795 [==============================] - 42s 3ms/step - loss: 0.5445 - mean_squared_error: 0.5445 - val_loss: 0.3425 - val_mean_squared_error: 0.3425
Epoch 2/50
12795/12795 [==============================] - 40s 3ms/step - loss: 0.4173 - mean_squared_error: 0.4173 - val_loss: 0.3602 - val_mean_squared_error: 0.3602
Epoch 3/50
12795/12795 [==============================] - 39s 3ms/step - loss: 0.4163 - mean_squared_error: 0.4163 - val_loss: 0.3324 - val_mean_squared_error: 0.3324
Epoch 4/50
12795/12795 [==============================] - 39s 3ms/step - loss: 0.4154 - mean_squared_error: 0.4154 - val_loss: 0.3349 - val_mean_squared_error: 0.3349
Epoch 5/50
12795/12795 [==============================] - 40s 3ms/step - loss: 0.4149 - mean_squared_error: 0.4149 - val_loss: 0.3469 - val_mean_squared_error: 0.3469
Epoch 6/50
12795/12795 [==============================] - 39s 3ms/step - loss: 0.4140 - mean_squared_error: 0.4140 - val_loss: 0.3297 - val_mean_squared_error: 0.3297
Epoch 7/50
12795/12795 [==============================] - 39s 3ms/step - loss: 0.4142 - mean_squared_error: 0.4142 - val_loss: 0.3315 - val_mean_squared_error: 0.3315
Epoch 8/50
 4255/12795 [========>.....................] - ETA: 24s - loss: 0.4134 - mean_squared_error: 0.4134

0.9918844867511926
-0.0005978115418972532